<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>

      <section class="registracion">
        <div class="container">
            <h2>Carga Producto</h2>
            <div class="formRegistracion">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="contenedorForm">
                        <div class="labelInput">
                            <label for="categorias">Categorias</label>
                            <select name="categorie" id="categorie">
                                <option value="0" hidden>Elija una categoria</option>
                                <% for(i = 0; i < categorias.length; i++) { %>
                                    <option value=<%= categorias[i].id %>> <%= categorias[i].categorie %> </option>
                                <% } %>
                            </select>
                            <p id="errCategorias"></p>
                            <% if(typeof errors!='undefined' && errors.categorias) { %>
                                <p class="errorBack"><%= errors.categorias.msg %></p>
                            <% } %>
                        </div>
                        <div class="labelInput">
                            <label for="titulo">Titulo</label>
                            <input type="text" id="titulo" name="titulo">
                            <p id="errTitulo"></p>
                            <% if(typeof errors!='undefined' && errors.titulo) { %>
                                <p class="errorBack"><%= errors.titulo.msg %></p>
                            <% } %>
                        </div>
                        <div class="labelInput">        
                            <label for="descripcion">Descripcion</label>
                            <input type="text" id="descripcion" name="descripcion">
                            <p id="errDescripcion"></p>
                            <% if(typeof errors!='undefined' && errors.descripcion) { %>
                                <p class="errorBack"><%= errors.descripcion.msg %></p>
                            <% } %>
                        </div>
                        <div class="labelInput">
                            <label for="precio">Precio</label>
                            <input type="number" id="precio" name="precio">
                            <p id="errPrecio"></p>
                            <% if(typeof errors!='undefined' && errors.precio) { %>
                                <p class="errorBack"><%= errors.precio.msg %></p>
                            <% } %> 
                        </div>
                        <div class="labelInput inputImg">
                            <label for="imagenes">Agregar imagenes</label>
                            <input type="file" name="imagen" />
                            <% if(false) { %>
                                <p class="errorBack">Introduzca una imagen</p>
                            <% } %> 
                        </div>
                        <div class="labelInput">
                            <label for="porciones">Porciones</label>
                            <input type="number" id="porciones" name="porciones">
                        </div>
                    <div class="divsubmit">
                        <div class="crearProducto"><button type="submit">Crear producto</button></div>
                    </div>
                </form>
            </div>
        </div>
      </section>

    <%- include('./partials/whatsappLogo') %>
          
    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
    <script src="/js/validationsCargaProducts.js"></script>
    <script src="/js/subCategories.js"></script>
</body>
</html>