<!DOCTYPE html>
<html lang="es">
    
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <div class="container carritoCelular">
        <div class="carrito">
            <section class="cart">
                <% for(i = 0; i < productos.length; i++) { %> 
                <article class="productos">
                    <div class="producto">
                        <div class="productoImagen">
                            <a href="/products/<%= productos[i].id %>"><img src="/uploads/productos/<%= productos[i].img %>" alt=""></a>
                        </div>
                        <div class="texto">
                            <h3><%= productos[i].title %></h3>
                            <h4 id=<%= `precio${i}` %> class="precio">$ <%= productos[i].price %></h4>
                            <h5><%= productos[i].description %></h5>
                            <div class="qtyDelete">
                                <form action="">
                                    <div class="cantidad">
                                        <span>Cantidad</span>
                                        <select id=<%= `select${i}` %>  class="qty" name="qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </form>
                            <a href="/users/cart/destroy/<%= productos[i].id %>"><button class="delete">Borrar</button></a>
                            </div>
                        </div>
                    </div>
                </article>
                <% } %> 
            </section>
            <aside class="subtotal">
                <article class="sub">
                    <div class="sub">
                        <div class="texto">
                            <h3>SubTotal</h3>
                            <% let precioFinal = 0 %>
                            <% for(let i = 0; i < productos.length; i++) { %>
                                <% precioFinal += productos[i].price %> 
                            <% } %> 
                            <h4 id="subTotal">$ <%= precioFinal %> </h4>
                            <h5 id="items"><%= productos.length %>  Items</h5>
                            <div class="botonCompra">
                                <button class="botonComprar">Continuar Compra</button>
                            </div>
                        </div>
                    </div>
                </article>
            </aside>
        </div>
    </div>


    <%- include('./partials/whatsappLogo') %>

    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
    <span id="cantidadProducts" hidden><%= productos.length %> </span>
    <script src="/js/precioCantidadCart.js"></script>
</body>

</html>