<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <div class="container">
        <div class="carrito">
            <section class="cart">
                <article class="productos">
                    <a href="">
                        <div class="producto">
                            <div class="productoImagen">
                            <img src="/img/placeholder1.jpg" alt="">
                            </div>
                            <div class="texto">
                            <h3>hola</h3>
                            <h4>$</h4>
                            <h5>hola</h5>
                            </div>
                        </div>
                    </a>
                </article>
            </section>
            <aside class="subtotal">
                <div class="sub">
                    <h2>subtotal</h2>
                </div>
            </aside>
        </div>
    </div>
    
    
    <%- include('./partials/whatsappLogo') %>

    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
</body>
</html>