<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body class="body-detail">

	<%- include('./partials/header') %>
	<% for(i = 0; i < productos.length; i++) { %>
		<%if(id==productos[i].id){%>

		
	<div class="container products-wrapper" id="detaill">
		<div class="row">			
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/img/<%= productos[i].img %>" alt="product image" class="product-detail-img">
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= productos[i].nombre %></h2>

						<p class="product-detail-price small">
							Precio: $<%= productos[i].precio %>
						</p>
						
						<ul class="actions-list">
							<li>
								<p class="product-detail-description">
									<%= productos[i].miniDesc %>
								</p>
							</li>
	
						</ul>
						<div id="botonera">
							<a href="">
								<button class="botonComprar">Comprar</button>
							</a>
							<a href="">
								<button class="botonCarrito"><i class="fas fa-cart-plus"></i></button>
							</a>
						</div>
							
						
						
					</article>
				</div>
			</div>
		</div>
	</div>
	<% }%>
	<% }%>
	<div class="container agregar-productos" id="agregar">
		<h2>Agregar Productos</h2>
		<div class="agregar-productos-img">
			<img src="/img/velas.jpg" alt="" class="foto-agregar1">
			<img src="/img/giftcard.jpg" alt="" class="foto-agregar2">
			<img src="/img/globos.jpg" alt="" class="foto-agregar3">
		</div>
	</div>
	</div>

	<div class="container productos-similares" id="similares">
		<h2>Productos Similares</h2>
		

		
		<div class="productos-similares-img">
			<img src="/img/placeholder2.jpg" alt="" class="foto-agregar1">
			<img src="/img/placeholder3.jpg" alt="" class="foto-agregar2">
			<img src="/img/placeholder4.jpg" alt="" class="foto-agregar3">
		</div>
		
	</div>
	</div>

	<%- include('./partials/whatsappLogo') %>

	<%- include('./partials/footer') %>

	<%- include('./partials/scripts') %>
</body>

</html>