<!DOCTYPE html>
<html lang="es">

	<%- include('./partials/head') %>

<body class="body-detail">

	<%- include('./partials/header') %>
		
	<div class="container products-wrapper" id="detaill">
		<div class="row">			
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/uploads/productos/<%= producto.img %>" alt="product image" class="product-detail-img">
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= producto.name %></h2>

						<p class="product-detail-price small">
							Precio: $<%= producto.price %>
						</p>
						
						<ul class="actions-list">
							<li>
								<p class="product-detail-description">
									<%= producto.description %>
								</p>
							</li>
	
						</ul>
						<div id="botonera">

							<% if(session == undefined) { %> 
								<a href="/users/login">
									<button class="botonComprar">Comprar</button>
								</a>
							  <% } else { %>
								<a href="/users/cart/addIr/<%= producto.id %>">
									<button class="botonComprar">Comprar</button>
								</a>
							  <% } %>
							
							<% if(session == undefined) { %> 
								<a href="/users/login">
									<button class="botonCarrito"><i class="fas fa-cart-plus"></i></button>
								</a>
							  <% } else { %>
								<a href="/users/cart/add/<%= producto.id %>">
									<button class="botonCarrito"><i class="fas fa-cart-plus"></i></button>
								</a> 
							  <% } %> 
							<% if(session && session.id == 1) { %> 
								<a href="/products/edit/<%= producto.id %> ">
									<button class="botonComprar">Editar</button>
								</a>
							<% } %>
						</div>
							
					</article>
				</div>
			</div>
		</div>
	</div>

	<div class="container agregar-productos" id="agregar">
		<h2>Agregar Productos</h2>
		<div class="agregar-productos-img">
			<img src="/img/velas.jpg" alt="" class="foto-agregar1">
			<img src="/img/giftcard.jpg" alt="" class="foto-agregar2">
			<img src="/img/globos.jpg" alt="" class="foto-agregar3">
		</div>
	</div>
	</div>

	<div class="container productos-similares" id="similares">
		<h2>Productos Similares</h2>
		

		
		<div class="productos-similares-img">
			<img src="/uploads/productos/placeholder2.jpg" alt="" class="foto-agregar1">
			<img src="/uploads/productos/placeholder3.jpg" alt="" class="foto-agregar2">
			<img src="/uploads/productos/placeholder4.jpg" alt="" class="foto-agregar3">
		</div>
		
	</div>
	</div>

	<%- include('./partials/whatsappLogo') %>

	<%- include('./partials/footer') %>

	<%- include('./partials/scripts') %>
</body>

</html>