<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body class="body-detail">

	<%- include('./partials/header') %>

	<div class="container products-wrapper" id="detaill">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: Torta</h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="img/Torta1.jpg" alt="product image" class="product-detail-img">
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title">Torta</h2>

						<p class="product-detail-price small">
							Precio: $123213
						</p>
						
						<ul class="actions-list">
							<li>
								<p class="product-detail-description">
									Detalle: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error sed
									similique aliquid ipsum tempora ratione!
								</p>
							</li>

						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<a href="#" class="action-button edit">Agregar carrito </a>

						<button type="submit" class="action-button save">Guardar</button>

					</article>
				</div>
			</div>
		</div>
	</div>

	<div class="container agregar-productos">
		<h2>Agregar productos</h2>
		<div class="agregar-productos-img">
			<img src="img/Torta2.jpg" alt="" class="foto-agregar1">
			<img src="img/Torta3.jpg" alt="" class="foto-agregar2">
			<img src="img/Torta4.jpg" alt="" class="foto-agregar3">
		</div>
	</div>
	</div>

	<%- include('./partials/whatsappLogo') %>

	<%- include('./partials/footer') %>

	<%- include('./partials/scripts') %>
</body>

</html>