<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head') %>
  
<body>

  <%- include('./partials/headerMovil') %>

  <header class="home">

    <div class="divCierreMenuBar" id="divCierreMenuBar"></div>

    <div class="container">
      <div class="izquierda">
        <div class="hamburguesa">
          <button class="buttonHamburguesa" id="buttonHamburguesa">
            <i class="fas fa-bars barras"></i>
          </button>
        </div>

        <div class="menuBar widthMenuBar" id="menuBar">
            <button class="cruzCollapse" id="buttonCruz">
              <i class="fas fa-times x"></i>
           </button>
            <ul>
              <a href="/"><li><img src="/img/logo.jpeg" alt="logo"></li></a>
              <a href="/"><li>Inicio</li></a>
              <a href="/products"><li>Productos</li></a>
              <% if(session == undefined) { %> 
                <a href="/users/login"><li>Ingresá</li></a>
                <a href="/users/register"><li>Creá una cuenta</li></a>
              <% } else { %>
                <a href="/users/user"><li>Mi perfil</li></a>
              <% } %> 
              <% if(session == undefined) { %> 
                <a href="/users/login"><li><i class="fas fa-shopping-cart"></i></li></a>
              <% } else { %>
                <a href="/users/cart"><li><i class="fas fa-shopping-cart"></i></li></a>
              <% } %>
              <% if(session && session.administrador == true) { %> 
                <a href="/products/carga"><li>Carga de productos</li></a>
									
								</a>
							<% } %>
             
           </ul>
        </div>
      </div>
      
      <div class="divLogo">
        <a href="/" class="logo"><img src="img/logo.jpeg" alt="logo"></a>
      </div>
      <div class="derecha">
        <div class="sesionesDiv">
          <% if(session == undefined) { %> 
            <a href="/users/login"><button class="sesiones"><i class="fas fa-user persona"></i>
                Iniciar Sesion
              <% } else { %>
                <a href="/users/user"><button class="sesiones" id="usuarioLogueado">
                <i class="fas fa-user-circle"></i>
                Hola, <%= session.nombre %> 
              <% } %> 
            </button></a>
        </div>
        <div class="carritoDiv"> 
          <% if(session == undefined) { %> 
              <a href="/users/login"class="carrito"><i class="fas fa-shopping-cart"></i></a>
          <% } else { %>
              <a href="/users/cart"class="carrito"><i class="fas fa-shopping-cart"></i><span class="cCartIndex cCart"></span></a>
          <% } %>
        </div>

      </div>
    </div>
  </header>

  <h1>pitusserie</h1>
  <a class="linkFondoHeader" href="https://www.freepik.es/fotos/fondo">Foto de Fondo creado por www.freepik.es</a>

  <% for(i = 0; i < 2; i++) { %>
        <section class="diapositivas">
          <div class="carrusel">
            <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
              <div class="gallery-cell"><a href="/"><img src="img/1.jpg" alt=""></a></div>
              <div class="gallery-cell"><img src="img/2.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/3.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/4.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/5.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/6.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/7.jpg" alt=""></div>
            </div>
          </div>
        </section>
      <% } %> 

  <section class="containerImgIndex">
    <div class="sobreNosotros">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, soluta! In impedit iste voluptas ipsa eius excepturi dolores debitis laborum, accusamus odio soluta, ratione deleniti ex incidunt esse consequuntur eos.</p>
    </div>
    <img class="imgIndex" src="/img/imgIndex.jpg" alt="">
  </section>

    <%- include('./partials/whatsappLogo') %>
          
    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
    
</body>
</html>