<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head') %>
  
<body>

  <%- include('./partials/headerMovil') %>

  <header class="home">
    <div class="container">

      <div class="hamburguesa">
        <button class="buttonHamburguesa" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-bars barras"></i>
        </button>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <button class="buttonX" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-times x"></i>
            </button>
            <ul>
              <a href="/"><li><img src="/img/logo.jpeg" alt="logo"></li></a>
              <a href="/"><li>Inicio</li></a>
              <a href="/products"><li>Productos</li></a>
              <a href="/login"><li>Ingresá</li></a>
              <a href="/register"><li>Creá una cuenta</li></a>
              <a href="/cart"><li><i class="fas fa-shopping-cart"></i></li></a>
              <a href="/products/carga"><li>Carga de productos (solo visible para administradores)</li></a>
            </ul>
          </div>
        </div>
      </div>

      <a href="/products"><div class="productsHeader">Productos</div></a>
      <div class="divLogo">
        <a href="/" class="logo"><img src="img/logo.jpeg" alt="logo"></a>
      </div>
      <a href="/cart"class="carrito"><i class="fas fa-shopping-cart"></i></a>
      <div class="redes"> <a href="https://www.instagram.com/pitusserietortas/"><i class="fab fa-instagram"></i></a> <a href="https://www.facebook.com/pitusserietortas/"><i class="fab fa-facebook"></i></a> </div>
    </div>
  </header>

  <h1>pitusserie</h1>
  <a class="linkFondoHeader" href="https://www.freepik.es/fotos/fondo">Foto de Fondo creado por www.freepik.es</a>

  <% for(i = 0; i < 2; i++) { %>
        <section class="diapositivas">
          <div class="carrusel">
            <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
              <div class="gallery-cell"><img src="img/1.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/2.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/3.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/4.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/5.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/6.jpg" alt=""></div>
              <div class="gallery-cell"><img src="img/7.jpg" alt=""></div>
            </div>
          </div>
        </section>
      <% } %> 

  <section class="containerImgIndex">
    <div class="sobreNosotros">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, soluta! In impedit iste voluptas ipsa eius excepturi dolores debitis laborum, accusamus odio soluta, ratione deleniti ex incidunt esse consequuntur eos.</p>
    </div>
    <img class="imgIndex" src="/img/imgIndex.jpg" alt="">
  </section>

    <%- include('./partials/whatsappLogo') %>
          
    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
    
</body>
</html>