<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>

    <section class="login">
        <div class="container">
            <h2>Ingresá</h2>
            <div class="formLogin">
                <form action="" method="POST">
                    <div class="contenedorForm">
                        <div class="labelInput">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" value="<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>">
                            <% if(typeof errors!='undefined' && errors.email) { %>
                                <p><%= errors.email.msg %></p>
                            <% } %> 
                        </div>
                    
                        <div class="labelInput">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" id="contrasena" name="contrasena">
                            <% if(typeof errors!='undefined' && errors.contrasena) { %>
                                <p><%= errors.contrasena.msg %></p>
                            <% } %>  
                        </div>
                        
                    </div>
                    <div class="submitRegister">
                        <div></div>
                        <div class="submit"><button type="submit">Ingresá</button></div>
                        <a href="/users/register"><div class="register">Crear cuenta</div></a>
                        <div></div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <%- include('./partials/whatsappLogo') %>

    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
</body>
</html>