<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>

    <div class="container">
        <section class="infoUsuario">
            <div class="divInfoUsuario">
                <div class="campoInfoUsuario">
                    <label>Nombre: </label>
                    <p><%= session.nombre %></p>
                </div>
                <div class="campoInfoUsuario">
                    <label>Apellido: </label>
                    <p><%= session.apellido %></p>
                </div>
                <div class="campoInfoUsuario">
                    <label>DNI: </label>
                    <p><%= session.dni %></p>
                </div>
                <div class="campoInfoUsuario">
                    <label>Telefono: </label>
                    <p><%= session.telefono %></p>
                </div>
                <div class="campoInfoUsuario">
                    <label>Email: </label>
                    <p><%= session.email %></p>
                </div>
            </div>
            <div class="img">
                <img src="/uploads/avatars/<%= session.img %> " alt="imagen perfil">
            </div>
        </section>
        <div>
            <a href="/users/edit">
                <div class="sesiones">
                    Cambiar información
                </div>
            </a>
            <a href="/users/cerrarSession">
                <div class="botonEliminar">
                    Cerrar sesión
                </div>
            </a>
        </div>
    </div>

    <%- include('./partials/whatsappLogo') %>
          
    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>
</body>
</html>