<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <section class="barraDeBusqueda">
        <div class="container">
            <div class="divForm">
                <form action="" method="get">
                    <select class="filtro" name="filtro">
                        <option value="todos">Todos</option>
                        <option value="- a +">Precio - A +</option>
                        <option value="+ a -">Precio + A -</option>
                        <% for(let i = 0; i < categorias.length; i++) { %>
                            <option value=<%= `C${categorias[i].id}` %> ><%= categorias[i].categorie %> </option>
                        <% } %>
                        <% for(let i = 0; i < subCategorias.length; i++) { %>
                            <option value=<%= `S${subCategorias[i].id}` %> ><%= subCategorias[i].sub_categorie %> </option>
                        <% } %>
                    </select>
                    <input class="barraDeBusqueda" name="busqueda" type="text" placeholder="Buscar delicias">
                    <button class="submit" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </section>

    <section class="productos">
        <div class="container">
          <h2>Productos</h2>
          <div class="row">

            <% for(let i = 0; i < productos.length; i++) { %> 
                    <article class="col-12 col-md-6 col-lg-3">
                            <div class="producto">
                                <div class="productoImagen">
                                    <a href="/products/<%= productos[i].id %>">
                                        <img src="/uploads/productos/<%= productos[i].img %>" alt="">
                                    </a>
                                </div>
                                <div class="texto">
                                <div class="precioCarrito">
                                    <div>
                                        <a href="/products/<%= productos[i].id %>"><h3><%= productos[i].title %></h3></a>
                                        <h4>$<%= productos[i].price %></h4>
                                    </div>
                                    
                                    <% if(session == undefined) { %> 
                                        <a href="/users/login"><span class="carritoMas"><i class="fas fa-cart-plus"></i></span></a>
                                      <% } else { %>
                                        <a href="/users/cart/add/<%= productos[i].id %>"><span class="carritoMas"><i class="fas fa-cart-plus"></i></span></a>
                                      <% } %> 
                                </div>
                                <h5><%= productos[i].description %></h5>
                                </div>
                            </div>
                        </a>
                    </article>
              <% } %> 

          </div>
        </div>
    </section>

    <%- include('./partials/whatsappLogo') %>

    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>

</body>
</html>